# GoLand configuration
.idea/

# VSCode configuration
.vscode/

# Ignore created binary
bin/

# Ignore config file
config.json

# Ignore code coverage report
coverage.txt

# Ignore goreleaser generated folder
dist/